# Don't commit this file to source control, it contains your secret settings.

contact_form_target: ~ # This is the email address that contact form correspondence will be send to.
linkedin_url: ~ # The URL of your LinkedIn profile.
twitter_url: ~ # The URL of your Twitter profile.
github_url: ~ # The URL of your GitHub profile.
blogger_url: ~ # The URL of your blog on Blogger.
blogger_atom_url: ~ # The URL of your blog's Atom feed on Blogger.
